.layout {
  display: flex;
  height: 100vh;
}


app-sidebar {
  width: 250px;
  position: fixed;
  top: 60px;
  bottom: 0;
  right: 0; 
  transition: all 0.3s ease;
  z-index: 999; 
}


.main-content {
  margin-top: 60px;
  margin-right: 0; 
  padding: 20px;
  transition: margin-right 0.3s ease;
}

 
  .main-content.sidebar-open {
    margin-right: 250px; 
  }
