.layout {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 250px;
  position: fixed;
  top: 60px; /* زیر نوبار */
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 999; /* زیر نوبار */
}

.main-content {
  margin-top: 60px; /* فاصله از نوبار */
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

  .main-content.sidebar-open {
    margin-left: 250px; /* وقتی سایدبار باز است */
  }
