.dashboard-widgets {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}


.left-panel {
  flex: 1; 
  max-width: 50%;
}


.right-panel {
  flex: 1;
  max-width: 50%;
}


.placeholder {
  background-color: #f0f0f0;
  border-radius: 12px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-size: 1.2rem;
}
