<ul>
  <li *ngFor="let link of navLinks" class="nav-item">

    <!-- فقط لینک بدون children -->
    <a *ngIf="!link.children" [routerLink]="link.path" class="nav-link">
      {{ link.label }}
    </a>

    <!-- لینک با children -->
    <div *ngIf="link.children" class="dropdown-label"
         (click)="toggleDropdown(link)"
         tabindex="0"
         (keydown.enter)="toggleDropdown(link)"
         (keydown.space)="$event.preventDefault(); toggleDropdown(link)"
         [attr.aria-expanded]="link.showChildren"
         role="button">
      {{ link.label }}
      <span class="arrow" [class.open]="link.showChildren">▼</span>
    </div>

    <!-- زیرمنو فقط اگر children وجود دارد -->
    <ul *ngIf="link.children && link.showChildren" class="dropdown-menu">
      <li *ngFor="let child of link.children">
        <a [routerLink]="child.path">{{ child.label }}</a>
      </li>
    </ul>

  </li>
</ul>
