<nav class="sidebar">

  <ul>
    <li *ngFor="let link of navLinks">
      <a *ngIf="!link.children" [routerLink]="link.path">
        <i *ngIf="link.icon" class="icon-{{link.icon}}"></i>
        {{ link.label }}
      </a>

      <div *ngIf="link.children">
        <div class="menu-header" (click)="toggleDropdown(link)">
          <i *ngIf="link.icon" class="icon-{{link.icon}}"></i>
          {{ link.label }}
          <span class="arrow">{{ link.showChildren ? '▼' : '▶' }}</span>
        </div>
        <ul *ngIf="link.showChildren">
          <li *ngFor="let child of link.children">
            <a [routerLink]="child.path">
              <i *ngIf="child.icon" class="icon-{{child.icon}}"></i>
              {{ child.label }}
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
