
table {
  direction: rtl;
  text-align: right; 
  border-collapse: collapse;
  width: 100%;
}


th, td {
  padding: 8px;
  border: 1px solid #ccc;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
