<div class="reset-password-container">
  <h2>تغییر رمز عبور</h2>

  <input type="text" name="fakeuser" style="display: none" />
  <input type="password" name="fakepassword" style="display: none" />

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
   
    <div>
      <label>رمز عبور جدید</label>
      <input type="password"
             formControlName="newPassword"
             autocomplete="new-password"
             placeholder="رمز عبور جدید را وارد کنید" />
      <div class="error"
           *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched">
        رمز عبور باید حداقل ۶ کاراکتر باشد
      </div>
    </div>

    <div>
      <label>تکرار رمز عبور</label>
      <input type="password"
             formControlName="confirmPassword"
             autocomplete="new-password"
             placeholder="تکرار رمز عبور" />
      <div class="error"
           *ngIf="resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched">
        رمز عبورها مطابقت ندارند
      </div>
    </div>


    <button type="submit" [disabled]="loading">تغییر رمز عبور</button>
  </form>

 
  <div *ngIf="message" class="success">{{ message }}</div>
  <div *ngIf="error" class="error">{{ error }}</div>
</div>
